@import 'tailwindcss';



@utility scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgb(107 114 128) rgb(55 65 81);
  
  &:hover {
    scrollbar-color: rgb(209 213 219) rgb(55 65 81);
  }
  
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: rgb(55 65 81);
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgb(107 114 128);
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(209 213 219);
  }
}

@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}


